{% extends "base.html" %}




{% block content %}

<form id="form" method="post" class="form-inline " action="{% url 'view_3d_kinetic_graph' name%}">
    <div class="row d-flex-justify-centre">
      <div class="col-md-2">               
        <label for="floatingInput">Choose CTA</label>
        <select class="btn btn-secondary dropdown-toggle centre" name="CTA" id="CTA_id">
            {% for option in CTA_list %}<option value='{{option}}' > {{option}} {% endfor %}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label >Choose temperature </label>
        <select class="btn btn-secondary dropdown-toggle justify-right" name="temperature" id="temperature_id">
            {% for option in temperature_list %}<option value='{{option}}' > {{option}} {% endfor %}</option>
        </select>
      </div>
      <div class="col-md-2 d-flex-justify-centre">
        <label >Choose cx_ratio order</label>
        <div class="input-group">
            <select class="btn btn-secondary dropdown-toggle justify-right" name="cx_ratio" id="cx_ratio_id">
                {% for option in cx_ratio %}<option value='{{option}}' > {{option}} {% endfor %}</option>
            </select>
          <span class="input-group-addon btn"><i class="glyphicon glyphicon-calendar"></i> </span>
        </div>

      </div>
      <div class="col-md-2 d-flex-justify-centre">
        <label >Choose n-th order</label>
        <div class="input-group">
            <select class="btn btn-secondary dropdown-toggle justify-right" name="order" id="order_id">
                {% for option in reaction_orders %}<option value='{{option}}'> {{option}} {% endfor %}</option>
            </select>
          <span class="input-group-addon btn"><i class="glyphicon glyphicon-calendar"></i> </span>
        </div>

      </div>

      <div class="col-md-2 row">
        <button class="btn btn-primary" type="submit">Get rate constant</button>
      </div>
    </div>
  </form>
<div>
<p></p>


{% autoescape off %}
    {{ plot_3d_graph }}

{% endautoescape %}
<div class="card text-center">
  <div class="card-header">
    Kinetic Information
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text">k = {{k}}</p>
  </div>
</div>
</div>





{% endblock content %}